.center {
    float: none;
    margin: 0 auto;
}
.form{
    background:white;
    padding:20px;
    border-style:solid;
    border-color:#B8B8B8;
    border-width:1px;
}

.top-padding{
   padding-top:100px;
}

.space{
    width:50px;
}
