{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %} Welcome | {{ block.super }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 center form">
            <h1>{{title}}</h1>
            <form method="POST" action="">{% csrf_token %}
                <!--<input type="text">-->
                {{form|crispy}}
                <button type="submit" class="btn btn-default">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
   